.myInput {
  width: 100%;
  padding: 5px 15px;
  //margin: auto;
  //border: 1px solid var(--border-color);
  border: none;
  border-bottom: 2px solid var(--border-color);
  box-sizing: border-box;
  background-color: var(--background-color-semitransp);
  //outline: none;
  font-size: 18px;

  &:focus {
    outline: none;
    border-color: var(--btn-border-color);
    box-shadow: 0 0 1px var(--btn-border-color);
  }
}