.todoItem {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px 15px;
  margin: 6px 0;
  background-color: var(--todo-background-color-semitransp-white);
  color: var(--dark-text-color);

  &__text {
    flex-grow: 1;
  }
  &__icon {
    cursor: pointer;
  }

  &_checked{
    background-color: var(--todo-background-color-semitransp-black);
    color: var(--light-text-color);
    & .todoItem__text {
      text-decoration: line-through ;
    }
  }
  &-enter {
    transform: translateY(-50px);
    opacity: 0;

    &-active {
      transform: translateY(0);
      opacity: 1;
      transition: all 500ms ease-in-out;
    }
  }
  &-exit {
    transform: translateY(0);
    opacity: 1;
    display: none;

    &-active {
      opacity: 0;
      transform: translateY(50px);
      transition: all 500ms ease-in-out;
    }
  }
}


