.todoItem {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px 15px;
  margin: 6px 0;
  background-color: var(--todo-background-color-semitransp-white);
  color: var(--dark-text-color);

  &__text {
    flex-grow: 1;
  }
  &__icon {
    cursor: pointer;
  }

  &_checked{
    background-color: var(--todo-background-color-semitransp-black);
    color: var(--light-text-color);
    & .todoItem__text {
      text-decoration: line-through ;
    }
  }
}

