@import "../../consts/mixins";

.myBtn {
  @include adaptive-value('height', 50, 36, 1200);
  @include adaptive-value('width', 50, 36, 1200);
  border-style: none;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;

  position: absolute;
  right: 0;
  color: var(--btn-plus-color-inactive);
  background-color:transparent;
  pointer-events: painted;
}