@import "../../consts/mixins";

.newTodoBar {
  width: fit-content;
  height: fit-content;
  position: relative;

  &__button {

    &_active {
      transform: rotate(180deg);
      transition: all 500ms ease;

      &~ input{
        @include adaptive-value('width', 800, 190, 1200);

        border-radius: 0;
        background-color: var(--input-background-color);
        border-bottom:1px solid var(--input-border-color);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 1.5);
      }
    }
    &:focus{

    }
  }
}