.newTodoBar {
  width: fit-content;
  height: fit-content;
  position: relative;

  &__button {

    &:focus{
      transform: rotate(180deg);
      transition: all 500ms ease;

      &~ input{
        width: calc(100px + 20vw);
        border-radius: 0;
        background-color: var(--input-background-color);
        border-bottom:1px solid var(--input-border-color);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
      }
    }
  }
}