#root {
  --border-color: black;

  --btn-plus-color-active: #4aacb8;
  --btn-plus-color-inactive: white;
  --btn-background-color-inactive: #4aacb8;
  --btn-border-color: grey;

  --backgroung-gradient: linear-gradient(135deg, #d6d7d6, #c5ffc8);
  --todo-background-color-semitransp-white: rgba(255, 255, 255, 0.6);
  --todo-background-color-semitransp-black: rgba(0, 0, 0, 0.5);

  --light-text-color: white;
  --dark-text-color: black;
  --input-text-color: white;

  --input-background-color: rgba(0, 0, 0, 0.4);
  --input-border-color: rgba(255, 255, 255, 0.24);

  --select-border: black;
  --select-arrow: rgb(45, 126, 136);
  --select-focus: rgba(74, 172, 184, 0.7);
  --select-background: var(--todo-background-color-semitransp-white);
  --select-shadow:  3px 5px 10px rgba(74, 172, 184, 0.25);
}