#root {
  --border-color: black;
  --btn-color: lightgrey;
  --btn-border-color: grey;

  --backgroung-gradient: linear-gradient(135deg, #bee1a8, #edeed4);
  --background-color-semitransp-white: rgba(255, 255, 255, 0.4);
  --background-color-semitransp-black: rgba(0, 0, 0, 0.49);
  --select-border: black;
  --select-arrow: black;
  --select-focus: black;
}