#root {
  --border-color: black;
  --btn-color: lightgrey;
  --btn-border-color: grey;

  --backgroung-gradient: linear-gradient(120deg, #edeed4, #bee1a8);
  --background-color-semitransp: rgba(255, 255, 255, 0.4);
  --select-border: black;
  --select-arrow: black;
  --select-focus: black;
}