* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  /*max-width: 100%;*/

  background-image: var(--backgroung-gradient);
  min-height: 100vh;
}

